<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Object Map Helper</title>

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/highlighter/default.css')}}" rel="stylesheet">

  </head>

  <body>


    <div class="container-fluid" style="padding-top: 10px;">

      <form method="post" action="{{ url_for('create_map') }}">
        <div>
          <label for="service">Service (note: capitilization may be off):</label>
          <input name="service" type="text" class="input-xlarge" value="{{ service }}">
          <label for="action">Action:</label>
          <input name="action" type="text" class="input-xlarge" value="{{ action }}" readonly>
          <label for="selector">Path to unique id:</label>
          <input name="selector" id="selector" type="text" class="input-xxlarge" readonly>
          <label for="region">Path to region:</label>
          <input name="region" type="text" class="input-xxlarge" value="{{ region_path }}" readonly>
        </div>
        <div>
          <input type="submit" value="Add To Map">
        </div>
      </form>

      <p>Click on the unique id</p>
      <div id="json">
        {{codified_json|safe}}
      </div>

      <p>View the <a href="https://github.com/jacksonfellows/Object-Map-Helper">source code</a> on github</p>

    </div>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dom-outline-1.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/json_selector.js')}}"></script>

  </body>
</html>

