<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Object Map Helper</title>

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  </head>

  <body>


    <div class="container-fluid" style="padding-top: 10px;">

      <form method="post" action="{{ url_for('editmap') }}">
        <div>
          <label for="raw_json">JSON from the proxy:</label>
          <textarea name="raw_json" rows="20" class="row-fluid"></textarea>
        </div>
        <div>
          <input type="submit" value="Continue">
        </div>
      </form>

      <p>View the <a href="https://github.com/jacksonfellows/Object-Map-Helper">source code</a> on github</p>

    </div>

  </body>
</html>