<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jackson's Object ID Map Tool</title>

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/highlighter/default.css')}}" rel="stylesheet">

  </head>

  <body>


    <div class="container-fluid" style="padding-top: 10px;">

      <p>Updated object id map:</p>
      <p>You can download it <a href="{{ url_for('objectidmap') }}">here</a></p>
      {{map_json|safe}}

    </div> <!-- /container -->

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dom-outline-1.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/json_selector.js')}}"></script>

  </body>
</html>